<table>
    <tbody>
        <tr>
            <td style="width: 50%;">{{arrendador.nombre}}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 50%;">Domicilio: {{arrendador.domicilio}}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 50%;">{{arrendador.cod_postal}}, {{arrendador.poblacion}}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 50%;">{{arrendador.provincia}}</td>
            <td></td>
        </tr>
        <tr>
            <td style="width: 50%;">DNI: {{arrendador.dni}}</td>
            <td></td>
        </tr>
    </tbody>
</table>
<br><br>